<h1>Make A New Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :body %><br>
  <%= f.text_field :body %><br>
  <%= f.label :category %><br>
  <% if @post.category_id %>
    <%= @post.category.name %><br>
    <%= f.hidden_field :category_id %>
  <% else %>
    <%= f.collection_select :category_id, Category.all, :id, :name %><br>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
