<h1><%= @student.name %></h1>
<h2>Grade:</h2>
<%= @student.grade %>
<h2>Teacher:</h2>
<%= @student.teacher %>
<h2>Honors</h2>
<%= @student.honors %>
<br/>
<br/>
<a href=<%= students_url %>>Go back to student index</a>
<br/>
<br/>
<a href=<%= edit_student_path(@student) %>> Edit this Student </a>
