<h1><%= @movie.title %></h1>

Description: <%= @movie.description %><br/>
Gross: <%= @movie.gross %><br/>
Rating: <%= @movie.rating %><br/>
<br>
<br>
<a href="/movies/<%= @movie.id %>/edit"> Edit this movie </a>
<br>
<br>
<a href="/movies">Return to the Movies index </a>
